.registration { width:auto; margin:0 auto }
.registration input[type=submit], input[type=button] { padding:3px 15px 3px 15px; border:1px solid #fdb441; background:#ff9900; cursor:pointer; }
.registration input[type=submit]:hover, input[type=button]:hover { border:1px solid #fdb441; background:#fdd467; }
.registration input[type=submit]:focus, input[type=button]:focus { border:1px solid #fdb441; background:#fdb441; }
.registration input[type=text], input[type=password]{
	border:1px solid #cccccc;
	padding:2px 1px 3px 5px;
	height:18px;
}
.registration select{
	border:1px solid #cccccc;
	padding:2px 3px 3px 5px;
	height:25px;
}
#formReg{ padding:0 0 30px 0; }
#formReg #form{
	width: auto;
	margin-top:40px;
	padding:25px 15px 20px 15px;
	font-size:11px;
	background:#fdd467;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
#formReg #form h1{
	width: 280px;
	text-align:center;
	margin-top:-45px;
	height:35px;
	line-height:35px;
	position:absolute;
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
	background:#ff9900;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}


#formReg #Resform{
	width: auto;
}
#formReg td{ font-size:12px; height:auto; padding:3px; }
#updateaccount td{ font-size:12px; }
#formReg td.noborder{ border:0; }
#formReg .noted{
	width:auto;
	position:absolute;
	margin-left:235px;
	font-size:10px;
}
#formReg .notedbox1{
	height:25px;
}
#formReg .notedbox2content{ 
	margin-left:25px;
	margin-top:-15px;
	padding:0 5px 0 5px;
}
#formReg .notedbox3{
	height:10px;
}
#formReg .notecustid{
	margin-top:-25px;
}
